<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_panel_foreground"
        android:label="@string/Paneles"
        android:roundIcon="@mipmap/ic_panel_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Panels_solar_sport"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />

        <activity
            android:name=".Graph"
            android:exported="false" />
        <activity
            android:name=".TableBoard"
            android:exported="false" />
        <activity
            android:name=".Dasboard"
            android:exported="false" />
        <activity
            android:name=".CreateCategoryActivity"
            android:exported="true"
            android:parentActivityName=".CategoriesActivity" />
        <activity
            android:name=".CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".PrincipalActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Panels_solar_sport">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>